@import "swiper/css";
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/pagination';

.carousel__root {
    max-width: 700px;
    margin: 0 auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
